
/*  Produc Card Component */

.ProductCardList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ProductCard__link{
    display: flex;
    text-decoration: none;
  }
  
  .ProductCard {
    position: relative;
    overflow: visible;
    margin-bottom: 8vh;
    border: 1px solid white;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 8px var(--color-btn-primary);
    width: 90%;
    display: flex; 
    height: 25vh;
  }
  
  .ProductCard__leftContent {
    margin-left: 5vw;
    width: 70vw;
  }
  
  .ProductCard__leftContent h3 {
    background-color: var(--color-btn-primary);
    color: black;
    width: 50%;
    margin-top: 3vh;
    height: 4vh;
    border-radius: .4rem ;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ProductCard__leftContent h1 {
    font-size: 5.5vw;
    margin-bottom: 0;
    margin-top: 4vh;
  }
  
  .ProductCard__leftContent p {
    font-size: 1.9vh;
    font-weight: normal;
    margin-top: .3rem;
  }
  
  .ProductCard__rightContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .ProductCard__image {
    width: 38vw;
    height: 21vh;
    position: absolute;
    z-index: 2;
    top: -2rem;
    right: -.4rem;
  }
  
  .ProductCard__rightContent p {
    font-weight: normal;
    font-size: 2vh;
  }
  
  .ProductCard__FlameIcon {
    width: 20%;
    padding-right: 1.5vw;
  }
  
  .ProductCard__kcalContainer {
    display: flex;
    padding-bottom: 1vh;
  }

/*  Delivery Card Component */

.deliveryCard__Container{
  display: flex;
  border-radius: 1rem;
  width: 100%;
  height: 20vh;
  background-color: var(--color-btn-primary);
}

.deliveryCard__Container .rContent{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 30%;
}
.deliveryCard__Container .rContent .containerPrice{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-color: #ffffff92;
  border-radius: .5rem;
  margin-top: 3vh;
  width: 70%;
  height: 30%;
}
.containerPrice p,
.lContent h2,
.lContent p{
  color: black;
}
.lContent p,
.Price{
  margin: 0;
}
.lContent p{
  font-weight: normal;
}

.deliveryCard__Container .lContent{
  height: 100%;
  width: 70%;
  padding-left: 5%;
}

/*  Payment Card Component */

.payment-Card_Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 6vh;
  border: 1px solid white;
  border-radius: 1rem;
  width: 100%;
  height: 12vh;
}
.payment-Card_Container .content_Container h2{
  color: black;
  padding-left: 2vw;
}
.arrow_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 48, 48);
  border-radius: .8rem;
  margin-right: 2vw;
  width: 30%;
  height: 80%;
}
.arrow_Container img{
  height: 80%;
}
